<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Proj_MFRPConnectionStringReport" connectionString="Data Source=PC398479\MSSQLSERVER2014;Initial Catalog=Proj_MFRP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Proj_MFRPConnectionStringApp" connectionString="Data Source=PC398479\MSSQLSERVER2014;Initial Catalog=Proj_MFRP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Proj_MFRPConnectionStringVisaReport" connectionString="Data Source=PC398479\MSSQLSERVER2014;Initial Catalog=Proj_MFRP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Proj_MFRPConnectionStringRevenue" connectionString="Data Source=PC398479\MSSQLSERVER2014;Initial Catalog=Proj_MFRP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SqlConnection1" value="data source=PC398479\MSSQLSERVER2014;Integrated Security=true;database=Proj_MFRP"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>